body {
  background-color: linen;
}
#main_head{
text-align:center;
text-decoration-line: underline overline;
text-decoration-color:purple
}
a{
    text-decoration:none;

}
a:hover{
    color:red;
}

form.round{
  border: 2px solid red;
  border-radius: 12px;
  outline-style: solid;
  outline-color: blue;
  outline-width: thin;
  padding-bottom:15px;
  width:40%;
  text-align:center;
}