a{

    color:white;
    text-decoration:none;

}
.page-header{
    background-color:#5e606c;
    color:white;
}
nav.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

img{
    height:450px;
    width:100%;


}
.footer{
    display:flex;
    background-color:#5e606c;
    color:white;
    justify-content: space-between;
    align-items: center;
    font-size:15px;
    align-items:center;
    justify-content:center;


}
li{
    display:inline-block;
    padding:25px;
}
a:hover{
    color:black;
}
div.container {
  background-color:#c4c4be;
  margin: 5px;

  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  justify-content:space-between;
  align-items:center;

}
div img{
    width:420px;
    height:300px;
    border-radius:13px;
    margin:10px;
}
