a{

    color:white;
    text-decoration:none;

}
.page-header{
    background-color:#5e606c;
    color:white;
}

.footer{
    background-color:#5e606c;
    color:white;

}
li{
    display:inline-block;
    padding:5px;
}
