body {
  background-color: linen;
}
form.round{
  border: 2px solid red;
  border-radius: 12px;
  outline-style: solid;
  outline-color: blue;
  outline-width: thin;
  padding-bottom:15px;
  width:40%;
  text-align:center;
}